$font-color: #111;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;
$hover-color: #a52a2a;
$shadow-color: #808080;

$font-size: 1.25em;
$line-height: 1.3;
// $magic-number: $font-size * $line-height
