/* Header */

.header {
    background-image: $background-image;
    background-size: cover;
    padding-left: 15px;
    padding-right: 15px;
    // height: 25%;
}

.nav .active a {
    border-radius: 15px 50px;
    border: 2px solid $font-color;
    padding: 0.9em;
    border-bottom: 6px double $font-color;
    border-right: 6px double $font-color;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

/* Title */

.title,
.logo {
    padding: 1em 1em 0;
    // margin-top: 0.5em;
}

.logo {
    max-width: 400px;
    min-width: 200px;
    margin-top: 1.5em;
}

@media (max-width: 1570px) {
    .title {
        display: none;
    }
}

@media (max-width: 1111px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 40%;
    }
}

.title * {
    color: $font-color;
}

.title p {
    font-style: italic;
    white-space: nowrap;
}

.nav {
    width: calc(100% / 3);
    margin-left: 16em;

    :hover {
        color: $hover-color;
    }

    a {
        color: $font-color;
    }
}

@media (max-width: 1111px) {
    .nav {
        margin-left: auto;
        margin-right: auto;
    }
}
