/* Images */

img {
    max-width: 100%;
}

.me {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 2px solid $border-color;
    padding: 1em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.flash-img {
    width: 100%;
    height: 100px;
}

.website-screen {
    width: 100%;
    height: auto;
}

.website-screen-sm {
    width: 48%;
    height: auto;
    float: left;
    margin: 1%;
    margin-bottom: 1em;
}

@media (max-width: 610px) {
    .me {
        width: 100%;
        height: auto;

    }
}
