@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Special+Elite&family=Yuji+Mai&display=swap');

.old-fashioned {
    font-family: 'Special Elite', cursive;
    line-height: 1.5;
    font-size: 1.4rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.modern {
    font-family: 'Merriweather', sans-sherif;
    line-height: 1.4;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.worst-ever {
    font-family: 'Yuji Mai';
    line-height: 0.7;
    font-size: 1.7rem;
    letter-spacing: -3px;
}
